[submodule "external/openssl"]
	path = external/openssl
	url = https://github.com/openssl/openssl.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/kiyolee/zlib-win-build.git
