[submodule "external/openssl"]
	path = external/openssl
	url = https://github.com/openssl/openssl.git
[submodule "external/boost_asio"]
	path = external/boost_asio
	url = https://github.com/boostorg/asio.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
